[submodule "externals/Catch"]
	path = externals/Catch
	url = https://github.com/catchorg/Catch2
[submodule "externals/REFPROP-headers"]
	path = externals/REFPROP-headers
	url = https://github.com/coolprop/REFPROP-headers
[submodule "externals/manyso"]
	path = externals/manyso
	url = https://github.com/usnistgov/manyso
[submodule "externals/boost-cmake"]
	path = externals/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
